- name: Deploy Weather App on EC2
  hosts: all
  become: yes
  tasks:
    - name: Install Docker
      apt:
        name: docker.io
        state: present
        update_cache: yes

    - name: Ensure Docker service is running
      service:
        name: docker
        state: started
        enabled: true

    - name: Pull latest Docker image
      docker_image:
        name: yourdockerhub/weather_app
        source: pull

    - name: Run Weather App container
      docker_container:
        name: weather_app
        image: yourdockerhub/weather_app
        state: started
        ports:
          - "80:5000"
